@model IEnumerable<web_Bdjobs.Models.Jobs>

@{
    ViewData["Title"] = "Index";
}

<h1>Jobs</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.jobType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vacancy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jobHolder)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.jobType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vacancy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jobHolder)
            </td>
            <td>
                <button class="btn btn-outline-warning btn-sm ">
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                </button>
                <button class="btn btn-outline-dark btn-sm ">
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </button>
                <button class="btn btn-outline-danger btn-sm ">
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </button>
            </td>
        </tr>
}
    </tbody>
</table>
